ErrorDocument 403 /php_wishlist/interdit

RewriteEngine On
#
# RewriteBase indispensable sur webetu :

# RewriteBase /www/username0/mywishlist

#
# réécriture pour slim

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

