
/* Conteneur principal de la page */
.main-container{
    min-height: 80vh;
    background: white;
}

/* Header et footer */
header{
    background: #fed;
}
footer, header{
    min-height: 10vh;
}

/* Permet de rendre un élément hoverable, affichant son titre après son contenu actuel avec animation */
.extensible{
    padding-left: 15px!important;
}
.extensible:after {

    content: attr(title);
    display: inline-block;
    max-width : 0;
    overflow: hidden;
    transition: max-width .6s;
    margin: 0 0 -5px 8px;
}
.extensible.e-120:hover:after{
    max-width: 120px;
}
.extensible.e-250:hover:after{
    max-width: 250px;
}

/* Permet d'ajuster un bouton à la taille des boutons sociaux (large) */
.btn-social{
    border-radius: 3px;
    height: 28px;
    line-height: 18px;
}

.table{
    overflow-x: auto;
}

/* Permet de centrer des éléments en les espaçant de 10 px */
.centered-bar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.centered-bar>*{
    margin: 5px;
}

/* Section individuelle */
.section{
    border: 1px solid lightgray;
    padding: 1rem;
    margin: .3rem .1rem;
    border-radius: 5px;
}

/* Texte de feedback sous les inputs invalides */
input:not([value=""]):invalid~.text-feedback{
    color: #dc3545 !important;
}

/* utils */
.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

/* Custom file input text */
.custom-file-label::after {
  content: "Parcourir";
}
