{% extends "base.html" %}

{% block titre %}{{parent()}} - {{liste.titre}}{% endblock %}

{% set url = constant("HOSTNAME") ~ path_for('listeParticipant', {token: liste.tokenParticipant}) %}
{% set text = "Voici ma liste de souhait faite sur My Wish List, vous pouvez y participer !" %}


{% block main %}
    <div id='modal-social' class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Partagez votre liste</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class='centered-bar'>
                  <span class='twitter-container' data-text="{{text}}" data-url="{{url}}"></span>
                  <iframe src="https://www.facebook.com/plugins/share_button.php?href={{url|url_encode}}&layout=button&size=large&mobile_iframe=false&width=88&height=28&appId" width="88" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                  <a href='mailto:?body={{text ~ " Participez-y grâce au lien suivant : " ~ url|url_encode}}&subject=Ma liste de souhait pour le {{format_date(liste.expiration)}}' title="Partager par mail" class='btn btn-sm btn-social btn-primary'><i class='fa fa-envelope mr-1'></i>Envoyer par mail</a>
             </div>
          </div>
          <div class='modal-footer'></div>
        </div>
      </div>
    </div>
    {{parent()}}
{% endblock %}

{% block content %}
    <div class='row mb-2'>
        <div class='col-12 col-sm-8'>
            <h1 class='d-block d-sm-none text-center'>{{liste.titre}}</h1>
            <h1 class='d-none d-sm-block'>{{liste.titre}}</h1>
        </div>
        <div class='col-12 col-sm-4 justify-content-center align-items-center d-flex'>
            <a href="{{liste.estExpiree() ? "#" : path_for("formulaireModifListe" ,{id: liste.tokenCreateur})}}" class='btn btn-primary mr-1 {{liste.estExpiree() ? "disabled" : ""}}' title="{{liste.estExpiree() ? "Impossible d'éditer une liste expirée" : "Modifier la liste"}}">
                <i class='far fa-edit'></i>
                <span class='d-inline d-sm-none d-md-inline'>Éditer</span>
            </a>
             <button id='supprimer-liste' data-url="{{path_for('supprimerListe', {id: liste.tokenCreateur})}}" data-redirect-url="{{path_for('afficherMesListes')}}" class='btn btn-primary ml-1'>
                <i class='fas fa-trash'></i>
                <span class='d-inline d-sm-none d-md-inline'>Supprimer</span>
            </button>
        </div>
    </div>
    <div class='mb-3'>
        <small class='d-block font-italic text-muted'>Liste créée le {{format_date(liste.created_at)}}</small>
        <small class='d-block font-italic text-muted'>Liste modifiée pour la dernière fois le {{format_date(liste.updated_at)}}</small>
    </div>
    <div>
        <p>
            <strong>Liste créée par : </strong> {{liste.createur()}}
        </p>
    </div>
    <div>
        <p><strong>Description : </strong> {{liste.desc ?? "Aucune description"}}</p>
    </div>
    <div>
        <p>
            <strong>Expiration : </strong>
            {% if liste.estExpiree() %}
                <span class='d-block d-sm-inline alert alert-info text-center p-2 ml-2'>
                    <i class='fa fa-info-circle ml-1 mr-2'></i>
                    Cette liste a expiré <strong>{{liste.expiration|time_diff(false)}}</strong>
                </span>
            {% else %}
                Cette liste de souhait expire le {{format_date(liste.expiration)}}, soit <strong>{{liste.expiration|time_diff(false)}}</strong>.
            {% endif %}
        </p>
    </div>
    <div>
        <label for='url-partage' class='form-label d-inline'><strong>Lien de partage : </strong></label>
        <div class="input-group ml-md-2 my-2 mr-sm-2 d-inline-flex align-items-center flex-column flex-sm-row">
          <input id ='url-partage' type='text' class="form-control d-block" style='min-width:200px' value="{{url}}" readonly>
            <div class="input-group-append mt-1 mt-sm-0">
              <button id='copy-link' class="input-group-btn btn btn-primary"><i class='fa fa-copy'></i><span class='ml-2'>Copier</span></button>
            </div>
              <div class="input-group-append mt-1 mt-sm-0">
                <button id='share-link' class="input-group-btn btn btn-success" data-toggle="modal" data-target="#modal-social"><i class='fa fa-share'></i><span class='ml-2'>Partager</span></button>
              </div>
        </div>
        <div id='url-alert' class='alert text-center w-50 mx-auto' style='display: none'></div>
    </div>
    <div class='my-3'>
        <p><strong>Confidentialité : </strong> Cette liste est
        {% if liste.estPublique %}
            <span class='d-block text-center d-sm-inline alert alert-success p-2 ml-1'>
                <strong>publique</strong>
                <i class='fa fa-lock-open ml-1 mt-3'></i>
            </span>
        {% else %}
            <span class='d-block text-center d-sm-inline alert alert-dark p-2 ml-1'>
                <strong>privée</strong>
                <i class='fa fa-lock ml-1 mt-3'></i>
            </span>
        {% endif %}
        </p>
    </div>
    {% block details %}
    <div class='mt-5'>
        <span class='mr-2'>Pour plus d'informations sur la liste, cliquez ici :</span>
        <a href="{{path_for('listeCreateurDetails', {id : liste.tokenCreateur})}}" class='btn btn-primary extensible e-120' title='Afficher le détail'><i class='far fa-eye'></i></a>
    </div>
    {% endblock details %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
