{% extends "createur/affichageListe.html" %}
{% block titre %}{{parent()}} - Détails{% endblock %}

{% block content %}
	<a href='{{path_for("listeCreateur", {id : liste.tokenCreateur})}}' class='btn btn-primary mb-4 extensible e-250' title="Afficher moins d'informations"><i class='fa fa-arrow-left'></i></a>
	{{parent()}}
{% endblock %}
{% block details %}
	<h3 class='mt-5'>Items de la liste</h3>
	{% if listeIt is empty %}
		<p>Cette liste ne contient pas encore d'item, ajoutez-en un !</p>

 		<a href="{{path_for('formulaireAjouterItem', {id : liste.tokenCreateur})}}" class='btn btn-primary extensible e-120' title='Ajouter un item'><i class='fas fa-plus'></i></a>
 	{% else %}
 	<table class="table table-striped table-responsive">
 		<thead>
	 		<tr>
	 			<th>
	 				Nom
	 			</th>
	 			<th>
	 				Description
	 			</th>
	 			<th>
	 				Image
	 			</th>
	 			<th>
	 				Tarif
	 			</th>
	 			<th>
	 				Edition
	 			</th>
	 		</tr>
 		</thead>
 		<tbody>
	 		{% for it in listeIt %}
	 		<tr>
	 			<td>
	 				{{it.titre}}
	 			</td>
	 			<td>
	 				{{it.desc}}
	 			</td>
	 			<td>
	 				<img src="{{base_url()}}/ressources/img/{{it.img}}" alt="{{it.descr}}" class='w-100 d-block mx-auto'>
	 			</td>
	 			<td>
	 				{{it.tarif}}
	 			</td>
	 			<td>
	 				<div class='d-flex'>
						<a href="{{path_for('formulaireModifItem', {id : liste.tokenCreateur, num : it.id})}}" class='btn btn-primary mr-2' title='Modifier'><i class="fas fa-pen"></i></a>
		 				<!--
		 				<a href="{{path_for('formulaireAjouterItem', {id : liste.tokenCreateur, num : listeIt.id})}}" class='btn btn-primary' title='Supprimer'><i class="fas fa-trash-alt"></i></a>
		 				*/-->
		 				<form action="{{path_for('supprimerItem', {id : liste.tokenCreateur, num : it.id})}}" method="POST">
		 					<button onclick="return confirm('Cet item sera supprimé définitivement')" class='btn btn-primary' title="supprimer"><i class="fas fa-trash-alt"></i></button>
		 				</form>
					</div>
	 			</td>
	 		</tr>
	 		{% endfor %}
			<tr>
				<td colspan='4' class='text-center'>
						<a href="{{path_for('formulaireAjouterItem', {id : liste.tokenCreateur})}}" class='btn btn-primary extensible e-120' title='Ajouter un item'><i class='fas fa-plus'></i></a>
				</td>
			</tr>
 		</tbody>
 	</table>
{% endif %}
{% endblock %}
