{% extends "base.html" %}

{% block titre %}{{parent()}} - {{liste.titre}}{% endblock %}

{% set url = base_url() ~ path_for('listeParticipant', {token: liste.tokenParticipant}) %}
{% set text = "Voici ma liste de souhait faite sur My Wish List, vous pouvez y participer !" %}

{% block content %}
    <h1>Modification de la liste</h1>
    <div class='form-group'>
        <p>
            <strong>Liste créée par : </strong> {{liste.createur()}}
        </p>
    </div>
    <div class='mb-3'>
        <small class='d-block font-italic text-muted'>Liste créée le {{format_date(liste.created_at)}}</small>
        <small class='d-block font-italic text-muted'>Liste modifiée pour la dernière fois le {{format_date(liste.updated_at)}}</small>
    </div>
    <form action='{{path_for("modifierListe", {id: liste.tokenCreateur})}}' method='POST'>
        <input type="hidden" name="_METHOD" value="PUT"/>
        <div class='form-group'>
            <label for='nom'>Titre</label>
            <input id="nom" name="nom" type='text' class='form-control' placeholder="Titre de la liste" value="{{liste.titre}}" required>
        </div>
        <div class='form-group'>
            <label for='desc'>Description</label>
            <textarea id="desc" class='form-control' name="description" placeholder="Pour quel évènement la liste est créée, précisions, remerciements..." required>{{liste.desc}}</textarea>
        </div>
        <div class='form-group'>
                <label for='expiration'>Date d'expiration de la liste</label>
                <input id='expiration' name='expiration' class='form-control' type='date' min='{{"now"|date('Y-m-d')}}' value='{{liste.expiration}}' required />
        </div>
        <div class='form-group'>
            <p>Confidentialite de la liste</p>
            <div class="btn-group options" data-target='conf' role="group" aria-label="Choix de la confidentialité">
              <button type="button" class="btn btn-dark {% if liste.estPublique %} disabled {% endif %}" data-val='privée'><i class='fa fa-lock mr-2'></i>Liste privée</button>
              <button type="button" class="btn btn-success {% if not liste.estPublique %} disabled {% endif %}" data-val='publique'><i class='fa fa-lock-open mr-2'></i>Liste publique</button>
            </div>
            <input type='hidden' id='conf' name='confidentialite' value='{{ liste.estPublique ? "publique" : "privée"}}' required>
        </div>

        <div class='form-group'>
            <button class='btn btn-primary d-block mx-auto'>Valider</button>
        </div>
    </form>
{% endblock %}
