{% extends "base.html" %}
{% block titre %}{{parent()}} - ListeDetaille{% endblock %}
{% block css %}
	{{parent()}}
{% endblock %}



{% block content %}
    <h1>Liste créateur correspondant à la liste numéro {{liste.user_id}}</h1>
 	<p>{{liste.titre}}</p>

 	<table class="table table-striped">
 		<thead>
	 		<tr>
	 			<th>
	 				Nom
	 			</th>
	 			<th>
	 				Description
	 			</th>
	 			<th>
	 				Image
	 			</th>
	 			<th>
	 				Tarif
	 			</th>
	 			<th>
	 				Edition
	 			</th>
	 		</tr>
 		</thead>
 		<tbody>
	 		{% for it in listeIt %}
	 		<tr>
	 			<td>
	 				{{it.nom}}
	 			</td>
	 			<td>
	 				{{it.descr}}
	 			</td>
	 			<td>
	 				<img src="{{base_url()}}/ressources/img/{{it.img}}" alt="{{it.descr}}" class='w-100 d-block mx-auto'>
	 			</td>
	 			<td>
	 				{{it.tarif}}
	 			</td>
	 		</tr>
	 		{% endfor %}
			<tr>
				<td colspan='4' class='text-center'>
						<a href="{{path_for('formulaireAjouterItem', {id : liste.no})}}" class='btn btn-primary extensible e-120' title='Ajouter un item'><i class='fas fa-plus'></i></a>
				</td>
			</tr>
 		</tbody>
 	</table>

{% endblock %}
