{% extends "base.html" %}

{% block titre %}{{parent()}} - Ajouter un item{% endblock %}


{% block content %}
    <a href="{{path_for('listeCreateurDetails', {id : liste.tokenCreateur})}}" class='btn btn-primary extensible e-120' title='Retour'><i class="fas fa-arrow-left"></i></a>

    {% if "erreur" is flashed %}
        <div class='alert alert-danger text-center'>
            <i class='fa fa-exclamation-triangle mr-2'></i>
            <span>{{get_data("erreur")}}</span>
        </div>
    {% endif %}
    <h1 class='text-center'>Ajouter un item</h1>
    <form action="{{path_for("ajouterItem", {id : liste.tokenCreateur})}}" method="POST" enctype="mutlipart/form-data">
        <div class='form-group'>
            <label for='nom'>Titre de l'item</label>
            <input id='nom' name='nom' class='form-control' type='text' placeholder='Titre' required>
        </div>
        <div class='form-group'>
            <label for='desc'>Description</label>
            <textarea id='desc' name='desc' class='form-control' placeholder="Descriptif de l'item" required></textarea>
        </div>

        <div class='form-group'>
            <label for='image' class='form-label d-block'>Image</label>
           <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="choixImage" id="inlineRadio1" value="Upload" checked>
              <label class="form-check-label" for="inlineRadio1">Upload</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="choixImage" id="inlineRadio2" value="Url">
              <label class="form-check-label" for="inlineRadio2">Url</label>
            </div>
        
            <div id='image-upload' class="custom-file">
              <input type="file" class="custom-file-input" name="customFile" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div id='image-url' style='display:none'>
                <input id='img' name='img' class='form-control' type='text' placeholder="Lien vers l'image">
            </div>
            <div class='form-group'>
                <label for='url'>Url</label>
                <input id='url' name='url' class='form-control' type='text'>
        </div>
        </div>
        
        <div class='form-group'>
            <label for='tarif'>Tarif</label>
            <input id='tarif' name='tarif' class='form-control' type='number' value="0.0"required>
        </div>
        <div class='form-group'>
            <input type='submit' class='btn btn-primary mx-auto d-block' value="Ajouter">
        </div>

    </form>
{% endblock %}
