{% extends "base.html" %}

{% block titre %}{{parent()}} - Création de liste{% endblock %}


{% block content %}
    <div class='row'>
        <div class="col-12 col-md-6">
			<a href="{{path_for('accueil')}}" class='btn btn-primary extensible e-120' title="Accueil"><i class='fa fa-arrow-left'></i></a>
        </div>
    </div>
    <h1 class='text-center'>Création de liste</h1>
    <form action="{{path_for("creerListe")}}" method="POST">
        {% if est_connecte() %}
            <input type='hidden' name="userId" value="{{get_user_id()}}">
        {% else %}
            <div class='form-group'>
                <label for='createur'>Nom du créateur de la liste</label>
                <input id='createur' name='createur' class='form-control' type='text' placeholder='Votre nom' value='{{get_data(["form", "createur"])}}' required>
            </div>
        {% endif %}
        <div class='form-group'>
            <label for='nom'>Titre de la liste</label>
            <input id='nom' name='nom' class='form-control' type='text' placeholder='Titre' value='{{get_data(["form", "nom"])}}' required>
        </div>
        <div class='form-group'>
            <label for='desc'>Description</label>
            <textarea id='desc' name='description' class='form-control' placeholder='Pour quel évènement la liste est créée, précisions, remerciements...' value='{{get_data(["form", "description"])}}' required></textarea>
        </div>
        <div class='form-group'>
            <label for='expiration'>Date d'expiration de la liste</label>
            <input id='expiration' name='expiration' class='form-control' type='date' min='{{"now"|date('Y-m-d')}}' value='{{get_data(["form", "expiration"])}}' required />
        </div>
        <div class='form-group'>
            <input type='submit' class='btn btn-primary mx-auto d-block' value='Créer'>
        </div>
    </form>
{% endblock %}
