{% extends "base.html" %}

{% block titre %}{{parent()}} - Création de liste{% endblock %}


{% block content %}
    <div class='row'>
        <div class="col-12 col-md-6">
			<a href="{{path_for('accueil')}}" class='btn btn-primary extensible e-120' title="Retour"><i class='fa fa-arrow-left'></i></a>
        </div>
    </div>
    <h1 class='text-center'>Création de liste</h1>
    <form action="{{path_for("creerListe")}}" method="POST">
        <div class='form-group'>
            <label for='nom'>Titre de la liste</label>
            <input id='nom' name='nom' class='form-control' type='text' placeholder='Titre' required>
        </div>
        <div class='form-group'>
            <label for='desc'>Description</label>
            <textarea id='desc' name='description' class='form-control' placeholder='Pour quel évènement la liste est créée, précisions, remerciements...' required></textarea>
        </div>
        <div class='form-group'>
            <label for='expiration'>Date d'expiration de la liste</label>
            <input id='expiration' name='expiration' class='form-control' type='date' min='{{"now"|date('Y-m-d')}}' required />
        </div>
        <div class='form-group'>
            <input type='submit' class='btn btn-primary mx-auto d-block' value='Créer'>
        </div>
    </form>
{% endblock %}
