{% extends "base.html" %}

{% block titre %}{{parent()}} - Modifier un item{% endblock %}


{% block content %}
    <a href="{{path_for('listeCreateurDetails', {id : liste.no})}}" class='btn btn-primary extensible e-120' title='Retour'><i class="fas fa-arrow-left"></i></a>
    <h1 class='text-center'>Ajouter un item</h1>
    <form action="{{path_for("ajouterItem", {id : liste.no})}}" method="POST">
        <div class='form-group'>
            <label for='nom'>Titre de l'item</label>
            <input id='nom' name='nom' class='form-control' type='text' placeholder='Titre' required>
        </div>
        <div class='form-group'>
            <label for='desc'>Description</label>
            <textarea id='desc' name='description' class='form-control' placeholder="Descriptif de l'item" required></textarea>
        </div>
        <div class='form-group'>
            <label for='image'>Image</label>
            <input id='image' name='image' class='form-control' type='texte' placeholder='url...' required>
        </div>
        <div class='form-group'>
            <label for='url'>Url</label>
            <input id='url' name='url' class='form-control' type='texte'>
        </div>
        <div class='form-group'>
            <label for='tarif'>Tarif</label>
            <input id='tarif' name='tarif' class='form-control' type='number' value="0.0"required>
        </div>
        <div class='form-group'>
            <input type='submit' class='btn btn-primary mx-auto d-block' value="Ajouter">
        </div>

    </form>
{% endblock %}
