{% extends "base.html" %}

{% block titre %}{{parent()}} - Accueil{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-12 text-justify py-3'>
            <h1 class='text-center mb-5'>My Whish List, plus t'en mets, plus t'en as !</h1>
            <p>
                Finis les noëls et les anniversaires gachés par des cadeaux décevants, fini la traditionnelle argenterie aux mariages qui finira sa vie dans les placards.
            </p>
            <p>
                Avec MyWishList, <strong>offrez-vous des cadeaux qui vous plairont</strong>, demandez ce qui vous <strong>rendra heureux</strong> !
                Invitez vos <strong>amis</strong> et vos <strong>proches</strong> d'un seul clic pour qu'ils puissent vous offrir <strong> le cadeau de vos rêves</strong>.
            </p>
            <p>
                En participant à une <strong>liste de souhaits</strong>, vous pouvez facilement réserver un cadeau et laisser un petit mot au créateur de la liste.
            </p>
        </div>
        <div class='col-12 col-md-6 p-4 text-justify'>
            <img src="{{base_url()}}/ressources/img/famille.jpg" class='w-100 h-100' alt="My Wish List permet de faire des cadeaux à toute la famille, tout le monde est heureux !">
        </div>
        <div class='col-12 col-md-6 p-4 text-justify'>
            <h2>Rejoignez la communauté !</h2>
            <div class='mt-4'>
                <p>Créez une nouvelle liste de souhaits pour Noël, pour votre anniversaire ou autre évènement spécial, afin que vos amis sachent ce qui vous plairait vraiment</p>
                <a href="{{path_for('formulaireCreerListe')}}" class='btn btn-primary d-block mx-auto'>Créer une liste</a>
            </div>
            {% if not est_connecte() %}<div class='mt-4'>
                <p>Créez un compte afin de retrouver vos listes sur tous vos appareils et pour gagner du temps</p>
                <a href="{{path_for('afficherLogin')}}#creerCompte" class='btn btn-primary d-block mx-auto'>Créer un compte</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
