{% extends "base.html" %}
{% block titre %}{{parent()}} - ListeDetaille{% endblock %}
{% block css %}
	{{parent()}}
{% endblock %}


{% block content %}
 	<h1>{{item.titre}}</h1>
 	<h3><i>Appartient à la liste : </i><a href="{{base_url()}}/liste/p{{liste.tokenParticipant}}/details">{{liste.titre}}</a></h3>

 	<p><b>Prix : {{item.tarif}} euros</b>
 		<br>
 		{% if item.reserverPar == NULL %}
 			Disponible !
 		{% else %}
 			Déjà réservé par {{liste.resreverPar}}.
 		{% endif %}
 	</p>

 	 <p>{{item.descr}}</p>
    <p><img src="{{base_url()}}/ressources/img/{{item.img}}" alt="{{item.descr}}" class='w-100 d-block mx-auto'></p>
 	
{% endblock %}
