{% extends "base.html" %}

{% block titre %}{{parent()}} - Listes publiques{% endblock %}

{% block content %}
   <div class='row'>
        <div class="col-12 col-md-6">
            <a href="{{path_for('accueil')}}" class='btn btn-primary extensible e-120' title="Retour"><i class='fa fa-arrow-left'></i></a>
        </div>
    </div>

    <div class="list-group">

    {% for liste in listes %}
      <a href="{{base_url()}}/liste/p{{liste.tokenParticipant}}" class="list-group-item list-group-item-action flex-column align-items-start mt-4">
        <div class="d-flex justify-content-center">
          <h3 class="mb-1">{{liste.titre}}</h3>
        </div>
        <p class="mb-2 mt-2">
            {{liste.desc}}
        </p>
        <small>
            <i>
                Créée par : {{liste.createur}}<br>
                Expire {{liste.expiration|time_diff(false)}}
            </i>
        </small>
      </a>
    {% endfor %}

    </div>

{% endblock %}
