{% extends "base.html" %}


{% block titre %}{{parent()}} - Réserver item{% endblock %}


{% block content %}
    <div class='row'>
        <div class="col-12 col-md-6">
            <a href="{{path_for('listeParticipantDetails', {token : item.liste.tokenParticipant})}}" class='btn btn-primary extensible e-120' title="Retour"><i class='fa fa-arrow-left'></i></a>
        </div>
    </div>
    {% if item.aCagnotte %}
        <h1 class='text-center'>Participation pour : {{item.titre}}</h1>
    {% else %}
        <h1 class='text-center'>Réservation de : {{item.titre}}</h1>
    {% endif %}
    <form action="{{item.aCagnotte ? path_for('participerItem', {token : item.liste.tokenParticipant, idItem : item.id}) : path_for('reserverItem', {token : item.liste.tokenParticipant, idItem : item.id})}}" method="POST">
        {% if est_connecte() %}
            <input name='nom' type='hidden' value='{{get_user_nomprenom()}}' required>
        {% else %}
            <div class='form-group'>
                <label for='nom'>Votre nom :</label>
                <input id='nom' name='nom' class='form-control' type='text' placeholder='Votre nom' {% if "nomReservation" is inSession %} value='{{session("nomReservation")}}' {% endif %} required>
            </div>
        {% endif %}
        {% if item.aCagnotte %}
            <div class='form-group'>
            <label for='cagnotte'>Choisissez le montant que vous désirez entre 1 € et {{item.tarif - item.cagnottes().sum('montant')}} €</label>
            <input id='cagnotte' name='cagnotte' class='form-control' type='number' min="1" max="{{item.tarif - item.cagnottes().sum('montant')}}"></input>
        </div>

        {% else %}
        <div class='form-group'>
            <label for='message'>Vous pouvez ajouter un message que le créateur verra après expiration de la liste</label>
            <textarea id='message' name='message' class='form-control' type='text' placeholder='Message pour le créateur de la liste'></textarea>
        </div>
        {% endif %}
        <div class='form-group'>
            <input type='submit' class='btn btn-primary mx-auto d-block' value='{{item.aCagnotte ?'Participer' :  'Réserver' }}'>
        </div>
    </form>
{% endblock %}
