{% extends "base.html" %}

{% block titre %}{{parent()}} - Accueil{% endblock %}

{% block content %}
    <div class="row">
        <div class='col-12 col-md-9'><h2 class='text-center my-4'>Mon compte</h2></div>
        <div class='col-12 col-md-3'>
            <a href="{{path_for("deconnexion")}}" class='btn btn-outline-primary'>
                <i class='fa fa-sign-out-alt'></i>
                <span class='ml-2'>Se déconnecter</span>
            </a>
        </div>
        <div class='col-12'><strong>Nom :</strong>{{get_username()}}</div>

       <a href="{{path_for('afficherMesListes')}}" class='btn btn-primary' title='Voir mes listes'><i class="far fa-arrow-alt-circle-right pr-1"></i>Voir mes listes</a>
    </div>
{% endblock %}
