{% extends "base.html" %}
{% block titre %}{{parent()}} - ListeDetaille{% endblock %}
{% block css %}
	{{parent()}}
{% endblock %}



{% block content %}
	<h1>{{liste.titre}}</h1>
    <p>{{liste.descr}}</p>
    <p><i>Expire le : {{liste.expiration}}</i></p>

 	<table class="table table-striped">
 		<thead>
	 		<tr>
	 			<th>
	 				Nom
	 			</th>
	 			<th>
	 				Description
	 			</th>
	 			<th>
	 				Image
	 			</th>
	 			<th>
	 				Tarif
	 			</th>
	 			<th>
	 				Actions
	 			</th>
	 		</tr>
 		</thead>
 		<tbody>
	 		{% for it in listeIt %}
	 		<tr>
	 			<td>
	 				{{it.titre}}
	 			</td>
	 			<td>
	 				{{it.desc}}
	 			</td>
	 			<td>
	 				<img src="{{base_url()}}/ressources/img/{{it.img}}" alt="{{it.descr}}" class='w-100 d-block mx-auto'>
	 			</td>
	 			<td>
	 				{{it.tarif}}
	 			</td>
	 			<td>
	 				{% if it.reserverPar == NULL %}
	 				<i>Disponible ! </i><br><br>
	 				<a href="{{path_for('formulaireReserverItem', {token : liste.tokenParticipant, idItem : it.id})}}" class='btn btn-primary e-120' title='Reserver'>Reserver</a>
	 				{% else %}
	 				{{it.reserverPar}}
	 				{% endif %}


	 				<a href="{{path_for('afficherItem', {token : liste.tokenParticipant, idItem : it.id})}}" class='btn btn-primary e-120' title='Voir le détail'>Voir le détail</a>
	 			</td>
	 		</tr>
	 		{% endfor %}
 		</tbody>	

 	</table>


 	
{% endblock %}
