{% extends "participant/affichageListe.html" %}
{% block titre %}{{parent()}} - Détails{% endblock %}

{% block content %}
	<a href='{{path_for("listeParticipant", {token : liste.tokenParticipant})}}' class='btn btn-primary mb-4 extensible e-250' title="Afficher moins d'informations"><i class='fa fa-arrow-left'></i></a>
	{{parent()}}
{% endblock %}
{% block details %}
	<h3 class='my-4'>Souhaits de {{liste.createur}}</h3>
 	<table class="table table-striped">
 		<thead>
	 		<tr>
	 			<th>
	 				Nom
	 			</th>
	 			<th>
	 				Description
	 			</th>
	 			<th>
	 				Image
	 			</th>
	 			<th>
	 				Tarif
	 			</th>
	 			<th>
	 				Actions
	 			</th>
	 		</tr>
 		</thead>
 		<tbody>
	 		{% for it in listeIt %}
	 		<tr>
	 			<td>
	 				{{it.titre}}
	 			</td>
	 			<td>
	 				{{it.desc}}
	 			</td>
	 			<td>
	 				<img src="{{it.img}}" alt="{{it.descr}}" class='w-100 d-block mx-auto'>
	 			</td>
	 			<td>
	 				{{it.tarif}}
	 			</td>
	 			<td>


	 				<a href="{{path_for('afficherItem', {token : liste.tokenParticipant, idItem : it.id})}}" class='btn btn-outline-primary btn-block' title='Voir le détail'>Voir le détail</a>

	 				{% if not it.estReserve() and not liste.estExpiree() %}
	 				<a href="{{path_for('formulaireReserverItem', {token : liste.tokenParticipant, idItem : it.id})}}" class='btn btn-primary btn-block' title='Reserver'>Reserver</a>
	 				{% else %}
	 					<i> Réservé par : </i>{{it.reservePar() ?? "Personne n'a reservé cet item"}}
	 				{% endif %}
	 			</td>
	 		</tr>
	 		{% endfor %}
 		</tbody>
 	</table>
	<h3 class='my-4'>Messages publics</h3>
		{% for m in liste.messages %}
			<div class="list-group-item flex-column align-items-start mt-4">
				  <div class="mb-1">{{m.texte}}</div>
				<p class="mb-2 mt-2 text-muted font-italic">
					Par {{m.createur}} {% if m.user_id is not null %} ({{m.auteur().pseudo}}) {% endif %} {{m.created_at|time_diff()}}
				</p>
		   </div>
		{% endfor %}
		<div>
			<h4 class='mt-4 mb-2'>Ajouter un message à la liste</h4>
			<form action='{{path_for("ajouterMessagePublic", {token: liste.tokenParticipant})}}' method='POST' class='form-row'>
				{% if est_connecte() %}
					<input type='hidden' name='createur' value='{{get_user_nomprenom()}}'>
				{% else %}
					<div class='col-12 col-sm-6 form-group'>
						<label for='createur'>Votre nom</label>
						<input type='text' id='createur' name='createur' class='form-control' placeholder="Votre nom" {% if "nomReservation" is inSession %} value='{{session("nomReservation")}}' {% endif %}>
					</div>
				{% endif %}

				<div class='col-12 col-sm-6 form-group'>
					<label for='message'>Message</label>
					<textarea type='text' id='message' name='message' class='form-control' placeholder="Votre message"></textarea>
				</div>
				<div class='col-12 form-group'>
					<button class='btn btn-primary mx-auto d-block'>Ajouter le message</button>
				</div>
			</form>
		</div>
{% endblock %}
